# Import Libraries

In [21]:
import pandas as pd 
import numpy as np  
import sidetable
import sklearn
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import kaggle
from pathlib import Path
from glob import glob

In [10]:
kaggle.api.authenticate()

In [12]:
path = Path.cwd().parent
path

WindowsPath('e:/Bank-Telemarketing')

# Display Settings

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)
import warnings
warnings.filterwarnings('ignore')

In [38]:
path = Path.cwd().parent
path_data = path/'data'/'raw'
file = []
for i in path_data.glob('*.txt'):
    file.append(i)

file

[WindowsPath('e:/Bank-Telemarketing/data/raw/bank-additional-names.txt'),
 WindowsPath('e:/Bank-Telemarketing/data/raw/info.txt')]

In [81]:
f = open(path_data/'bank-additional-names.txt','rt')
for line in f.readlines():
    print(line.strip())

Citation Request:
This dataset is publicly available for research. The details are described in [Moro et al., 2014].
Please include this citation if you plan to use this database:

[Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, In press, http://dx.doi.org/10.1016/j.dss.2014.03.001

Available at: [pdf] http://dx.doi.org/10.1016/j.dss.2014.03.001
[bib] http://www3.dsi.uminho.pt/pcortez/bib/2014-dss.txt

1. Title: Bank Marketing (with social/economic context)

2. Sources
Created by: SÃ©rgio Moro (ISCTE-IUL), Paulo Cortez (Univ. Minho) and Paulo Rita (ISCTE-IUL) @ 2014

3. Past Usage:

The full dataset (bank-additional-full.csv) was described and analyzed in:

S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems (2014), doi:10.1016/j.dss.2014.03.001.

4. Relevant Information:

This dataset is based on "Bank Marketing" UCI dataset (please check the description at: http://archive.ics.uci.edu/ml/datasets/Bank+Marketing).
The data is enriched by the addition of five new social and economic features/attributes (national wide indicators from a ~10M population country), published by the Banco de Portugal and publicly available at: https://www.bportugal.pt/estatisticasweb.
This dataset is almost identical to the one used in [Moro et al., 2014] (it does not include all attributes due to privacy concerns).
Using the rminer package and R tool (http://cran.r-project.org/web/packages/rminer/), we found that the addition of the five new social and economic attributes (made available here) lead to substantial improvement in the prediction of a success, even when the duration of the call is not included. Note: the file can be read in R using: d=read.table("bank-additional-full.csv",header=TRUE,sep=";")

The zip file includes two datasets:
1) bank-additional-full.csv with all examples, ordered by date (from May 2008 to November 2010).
2) bank-additional.csv with 10% of the examples (4119), randomly selected from bank-additional-full.csv.
The smallest dataset is provided to test more computationally demanding machine learning algorithms (e.g., SVM).

The binary classification goal is to predict if the client will subscribe a bank term deposit (variable y).

5. Number of Instances: 41188 for bank-additional-full.csv

6. Number of Attributes: 20 + output attribute.

7. Attribute information:

For more information, read [Moro et al., 2014].

Input variables:
# bank client data:
1 - age (numeric)
2 - job : type of job (categorical: "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown")
3 - marital : marital status (categorical: "divorced","married","single","unknown"; note: "divorced" means divorced or widowed)
4 - education (categorical: "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown")
5 - default: has credit in default? (categorical: "no","yes","unknown")
6 - housing: has housing loan? (categorical: "no","yes","unknown")
7 - loan: has personal loan? (categorical: "no","yes","unknown")
# related with the last contact of the current campaign:
8 - contact: contact communication type (categorical: "cellular","telephone")
9 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
10 - day_of_week: last contact day of the week (categorical: "mon","tue","wed","thu","fri")
11 - duration: last contact duration, in seconds (numeric). Important note:  this attribute highly affects the output target (e.g., if duration=0 then y="no"). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
# other attributes:
12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14 - previous: number of contacts performed before this campaign and for this client (numeric)
15 - poutcome: outcome of the previous marketing campaign (categorical: "failure","nonexistent","success")
# social and economic context attributes
16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
17 - cons.price.idx: consumer price index - monthly indicator (numeric)
18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)
19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
20 - nr.employed: number of employees - quarterly indicator (numeric)

Output variable (desired target):
21 - y - has the client subscribed a term deposit? (binary: "yes","no")

8. Missing Attribute Values: There are several missing values in some categorical attributes, all coded with the "unknown" label. These missing values can be treated as a possible class label or using deletion or imputation techniques.

In [71]:
df = pd.read_fwf(path_data/'bank-additional-names.txt')#,on_bad_lines='warn',lineterminator='\n')
df

,Citation Request:,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,This dataset is publicly available for researc...,NaN,NaN,NaN,NaN,NaN,NaN
1,Please include this citation if you plan to us...,NaN,NaN,NaN,NaN,NaN,NaN
2,"[Moro et al., 2014] S. Moro, P. Cortez and P. ...",NaN,NaN,NaN,NaN,NaN,NaN
3,Available at: [pdf] http://dx.doi.org/10.1016/...,NaN,NaN,NaN,NaN,NaN,NaN
4,[bib] http://www3.dsi.uminho.pt/pcortez/bib/20...,NaN,NaN,NaN,NaN,NaN,NaN
5,1. Title: Bank Marketing (with social/economic...,NaN,NaN,NaN,NaN,NaN,NaN
6,2. Sources,NaN,NaN,NaN,NaN,NaN,NaN
7,"Created by: SÃ©rgio Moro (ISCTE-IUL), Paulo Cor...",NaN,NaN,NaN,NaN,NaN,NaN
8,3. Past Usage:,NaN,NaN,NaN,NaN,NaN,NaN
9,The full dataset (bank-additional-full.csv) wa...,NaN,NaN,NaN,NaN,NaN,NaN
10,"S. Moro, P. Cortez and P. Rita. A Data-Driven ...",NaN,NaN,NaN,NaN,NaN,NaN
11,4. Relevant Information:,NaN,NaN,NaN,NaN,NaN,NaN
12,"This dataset is based on ""Bank Marketing"" UCI ...",NaN,NaN,NaN,NaN,NaN,NaN
13,The data is enriched by the addition of five n...,NaN,NaN,NaN,NaN,NaN,NaN
14,This dataset is almost identical to the one us...,NaN,NaN,NaN,NaN,NaN,NaN
15,Using the rminer package and R tool (http://cr...,the call is not included. Note:,the file,can,"be read in R using: d=read.table(""bank-additio...",NaN,NaN
16,The zip file includes two datasets:,NaN,NaN,NaN,NaN,NaN,NaN
17,"1) bank-additional-full.csv with all examples,...",NaN,NaN,NaN,NaN,NaN,NaN
18,2) bank-additional.csv with 10% of the example...,NaN,NaN,NaN,NaN,NaN,NaN
19,The smallest dataset is provided to test more ...,NaN,NaN,NaN,NaN,NaN,NaN
20,The binary classification goal is to predict i...,NaN,NaN,NaN,NaN,NaN,NaN
21,5. Number of Instances: 41188 for bank-additio...,NaN,NaN,NaN,NaN,NaN,NaN
22,6. Number of Attributes: 20 + output attribute.,NaN,NaN,NaN,NaN,NaN,NaN
23,7. Attribute information:,NaN,NaN,NaN,NaN,NaN,NaN
24,"For more information, read [Moro et al., 2014].",NaN,NaN,NaN,NaN,NaN,NaN
25,Input variables:,NaN,NaN,NaN,NaN,NaN,NaN
26,# bank client data:,NaN,NaN,NaN,NaN,NaN,NaN
27,1 - age (numeric),NaN,NaN,NaN,NaN,NaN,NaN
28,"2 - job : type of job (categorical: ""admin."",""...",NaN,NaN,NaN,NaN,NaN,NaN
29,"3 - marital : marital status (categorical: ""di...",NaN,NaN,NaN,NaN,NaN,NaN
30,"4 - education (categorical: ""basic.4y"",""basic....",NaN,NaN,NaN,NaN,NaN,NaN
31,5 - default: has credit in default? (categoric...,NaN,NaN,NaN,NaN,NaN,NaN
32,"6 - housing: has housing loan? (categorical: ""...",NaN,NaN,NaN,NaN,NaN,NaN
33,"7 - loan: has personal loan? (categorical: ""no...",NaN,NaN,NaN,NaN,NaN,NaN
34,# related with the last contact of the current...,NaN,NaN,NaN,NaN,NaN,NaN
35,8 - contact: contact communication type (categ...,NaN,NaN,NaN,NaN,NaN,NaN
36,9 - month: last contact month of year (categor...,NaN,NaN,NaN,NaN,NaN,NaN
37,10 - day_of_week: last contact day of the week...,NaN,NaN,NaN,NaN,NaN,NaN
38,"11 - duration: last contact duration, in secon...","Thus, this input should only be",included,for,benchmark purposes and should be discarded if ...,predictive,model.
39,# other attributes:,NaN,NaN,NaN,NaN,NaN,NaN
40,12 - campaign: number of contacts performed du...,NaN,NaN,NaN,NaN,NaN,NaN
41,13 - pdays: number of days that passed by afte...,NaN,NaN,NaN,NaN,NaN,NaN
42,14 - previous: number of contacts performed be...,NaN,NaN,NaN,NaN,NaN,NaN
43,15 - poutcome: outcome of the previous marketi...,NaN,NaN,NaN,NaN,NaN,NaN
44,# social and economic context attributes,NaN,NaN,NaN,NaN,NaN,NaN
45,16 - emp.var.rate: employment variation rate -...,NaN,NaN,NaN,NaN,NaN,NaN
46,17 - cons.price.idx: consumer price index - mo...,NaN,NaN,NaN,NaN,NaN,NaN
47,18 - cons.conf.idx: consumer confidence index ...,NaN,NaN,NaN,NaN,NaN,NaN
48,19 - euribor3m: euribor 3 month rate - daily i...,NaN,NaN,NaN,NaN,NaN,NaN
49,20 - nr.employed: number of employees - quarte...,NaN,NaN,NaN,NaN,NaN,NaN
50,Output variable (desired target):,NaN,NaN,NaN,NaN,NaN,NaN
51,21 - y - has the client subscribed a term depo...,NaN,NaN,NaN,NaN,NaN,NaN
52,8. Missing Attribute Values: There are several...,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = pd.read_csv(path/'data'/'raw'/'bank-additional-full.csv', sep=';')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.10,93.99,-36.40,4.86,5191.00,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.10,93.99,-36.40,4.86,5191.00,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.10,93.99,-36.40,4.86,5191.00,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.10,93.99,-36.40,4.86,5191.00,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.10,93.99,-36.40,4.86,5191.00,no

In [5]:
df.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.10,94.77,-50.80,1.03,4963.60,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.10,94.77,-50.80,1.03,4963.60,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.10,94.77,-50.80,1.03,4963.60,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.10,94.77,-50.80,1.03,4963.60,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.10,94.77,-50.80,1.03,4963.60,no

In [6]:
df.sample()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
39605,52,admin.,married,university.degree,no,yes,yes,cellular,may,thu,250,1,3,5,success,-1.80,93.88,-40.00,0.68,5008.70,yes

In [7]:
df.describe(include='all')

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
count,41188.00,41188,41188,41188,41188,41188,41188,41188,41188,41188,41188.00,41188.00,41188.00,41188.00,41188,41188.00,41188.00,41188.00,41188.00,41188.00,41188
unique,NaN,12,4,8,3,3,3,2,10,5,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,2
top,NaN,admin.,married,university.degree,no,yes,no,cellular,may,thu,NaN,NaN,NaN,NaN,nonexistent,NaN,NaN,NaN,NaN,NaN,no
freq,NaN,10422,24928,12168,32588,21576,33950,26144,13769,8623,NaN,NaN,NaN,NaN,35563,NaN,NaN,NaN,NaN,NaN,36548
mean,40.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258.29,2.57,962.48,0.17,NaN,0.08,93.58,-40.50,3.62,5167.04,NaN
std,10.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,259.28,2.77,186.91,0.49,NaN,1.57,0.58,4.63,1.73,72.25,NaN
min,17.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,1.00,0.00,0.00,NaN,-3.40,92.20,-50.80,0.63,4963.60,NaN
25%,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.00,1.00,999.00,0.00,NaN,-1.80,93.08,-42.70,1.34,5099.10,NaN
50%,38.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.00,2.00,999.00,0.00,NaN,1.10,93.75,-41.80,4.86,5191.00,NaN
75%,47.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,319.00,3.00,999.00,0.00,NaN,1.40,93.99,-36.40,4.96,5228.10,NaN
max,98.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4918.00,56.00,999.00,7.00,NaN,1.40,94.77,-26.90,5.04,5228.10,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

# Formatting and Consistency Checks

In [9]:
pd.DataFrame({'dtype':df.dtypes,
              'uique': [df[col].unique() for col in df.columns]})

                  dtype                                              uique
age               int64  [56, 57, 37, 40, 45, 59, 41, 24, 25, 29, 35, 5...
job              object  [housemaid, services, admin., blue-collar, tec...
marital          object               [married, single, divorced, unknown]
education        object  [basic.4y, high.school, basic.6y, basic.9y, pr...
default          object                                 [no, unknown, yes]
housing          object                                 [no, yes, unknown]
loan             object                                 [no, yes, unknown]
contact          object                              [telephone, cellular]
month            object  [may, jun, jul, aug, oct, nov, dec, mar, apr, ...
day_of_week      object                          [mon, tue, wed, thu, fri]
duration          int64  [261, 149, 226, 151, 307, 198, 139, 217, 380, ...
campaign          int64  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 19...
pdays             int64  [999, 6, 4, 3, 5, 1, 0, 10, 7, 8, 9, 11, 2, 12...
previous          int64                           [0, 1, 2, 3, 4, 5, 6, 7]
poutcome         object                    [nonexistent, failure, success]
emp.var.rate    float64  [1.1, 1.4, -0.1, -0.2, -1.8, -2.9, -3.4, -3.0,...
cons.price.idx  float64  [93.994, 94.465, 93.918, 93.444, 93.798, 93.2,...
cons.conf.idx   float64  [-36.4, -41.8, -42.7, -36.1, -40.4, -42.0, -45...
euribor3m       float64  [4.857, 4.856, 4.855, 4.859, 4.86, 4.858, 4.86...
nr.employed     float64  [5191.0, 5228.1, 5195.8, 5176.3, 5099.1, 5076....
y                object                                          [no, yes]